@import url('https://fonts.cdnfonts.com/css/gobold');

@import url('https://fonts.cdnfonts.com/css/roboto');
*{
    font-family:'Gobold';
    margin: 0;
    padding: 0;
}


html,
body
{
    font-family: "Gobold";
    background-color: rgba(255, 193, 193, 0.582);
}
body{
    overflow-x: hidden;
    overflow-y: hidden;
}

.add-task{
    margin-top: 2vh;
    width: 100%;
    
}

.add-task__button{
    border: solid 2px red;
    background: rgb(255, 255, 255);
    padding-top: 0.5vh;
    padding-bottom: 0.5vh;
    padding-right: 0.5vw;
    padding-left: 0.5vw;
    border-radius: 10px;
    
    color: red;
    
}



.add-project{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
}

.add-project__button{
    border: solid 2px red;
    background: rgb(255, 255, 255);
    padding-top: 0.5vh;
    padding-bottom: 0.5vh;
    padding-right: 0.5vw;
    padding-left: 0.5vw;
    border-radius: 10px;
    
    color: red;
}


#add-project-modal .modal__container{
    overflow-y: auto;
}

#add-project-modal .modal__container .modal__fields{
    height: auto;
    margin-top: 2vh;
    margin-bottom: 2vh;
}

#container{
    height: 100vh;
    width: 100vw;
    /*
    position: absolute;
    top: 5%;
    left: 5%;
    box-shadow: 2px 2px 30px 5px rgba(0, 0, 0, 0.7);
*/
}



#description-modal .modal__container{
    overflow-y: auto;
    height: 20%;
}



.field{
    font-family: Arial, Helvetica, sans-serif;
    margin-bottom: 1.5vh;
  }
  
  
.field__title{
    margin-bottom: 1vh;
}
  
  


.hidden{
    display: none;
}
.header{
    display: flex;
    align-items: center;
    width: 100%;
    height: 15%;
    background-color: rgb(255, 0, 0);
}

.header__element{
    margin-left: 3vw;
    display: flex;
    align-items: center;
}

.header__title{
    font-size: 1.5rem;
    font-weight: 600;
    color: rgb(0, 0, 0);
}

.header__img{
    width: 5vw;
    height: 5vh;
}


.high-priority{
    color: red;
}

.task{
    font-family: 'Roboto';
    color: rgb(29, 18, 18);
    display: flex;
    flex-wrap: nowrap;
    margin-bottom: 0.5vh;
    padding: 1.6vh;
    width: 90%;
    border-radius: 5px;
    background-color: rgba(163, 163, 163, 0.61);
    
}

.task__title{
    margin-left: 1vw;

}

.task__date{
    color: red;
}


.task__description{
    cursor: pointer;
    color:#0645ad;
}


.task__wrapper{
    width: 100%;
    display: flex;
    justify-content: space-between;
}

input{
    font-family: Arial, Helvetica, sans-serif;
    padding: 2%;
    border: 1px solid red;

}


.main{
    display: flex;
    height: 85%;
    width: 100%;
    background-color: rgba(189, 178, 189, 0.315);
}


.medium-priority{
    color: #FF7900;
}



.modal{
    position: absolute;
    z-index: 9999;
    top: 0;
    bottom: 0;
    background: rgba(7, 4, 4, 0.62);
    width: 100%;
    height: 100%;
    
}

.modal__content{
/* 
border: red 1px solid;
*/
    width: 80%;
    word-wrap: break-word;
    line-height: 150%;
}



.modal__container{
    font-family: Arial, Helvetica, sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    text-align: center;
    top: 35%;
    left: 35%;
    width: 30%;
    height: 35%;
    border: 1.5px rgb(255, 17, 17) solid;
    border-radius: 30px;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
    overflow-y: scroll;
    /*
    background: rgba(197, 197, 197, 0.959);
    */
    background: rgba(255, 255, 255, 0.7);
}

.modal__header{
   width: 100%;
   height: 2vh;
   margin-bottom: 5vh;
   margin-top:1vh ;
   text-align: center;
   font-size: 1.5rem;
   color: rgb(99, 12, 23);
   font-family: 'Roboto', sans-serif;
}

.modal__fields{
    color: rgb(99, 12, 23);
    margin-top: -1vh;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}



.left-side{
    height: 100%;
    width: 20%;
    background-color: rgba(238, 247, 247, 0.575);
    
    overflow-y: auto;
    

}

.low-priority{
    color: green;
}

.right-side{
    height: 100%;
    width: 80%;
    background-color: rgb(255, 255, 255);
}

.project{

    height: 100%;
    color: rgba(20, 14, 14, 0.856);
    margin-top: 5vh;
    margin-left: 4vw;
    
}

.project--active{
    background-color: rgb(182, 179, 179);
}

.project__content{
    margin-top: 1.5vh;
}

.project__title{
    font-size: 1.8rem;
}

.projects{
    display: flex;
    flex-flow: column wrap;
    margin-top: 10px;
    margin-bottom: 4%;
    /*height: 60%;*/
}

.projects__delete-button{
    padding:5px;
    border-radius: 5px;
    top: 15%;
    left: 85%;
    position: absolute;
    color: rgba(184, 4, 4, 0.979);
    text-align: right;
}

.projects__delete-button:hover{
    background-color: whitesmoke;
}


.projects__task{
    position: relative;
    width: 80%;
    height: 5%;
    text-align: center;
    padding-top: 1.4vh;
    padding-bottom: 1.4vh;
    margin-bottom: 0.1vh;
    margin-left: 1.8vw;
    border-radius: 4px;

    /*background-color: rgb(182, 179, 179);*/
}



.projects__task:hover{
    cursor: pointer;
    background-color: rgb(182, 179, 179);
}

.project__tasks-header{
    
    font-family: 'Roboto';
    font-size: 1.1rem;
    color: rgb(29, 18, 18);
    display: flex;
    justify-content: space-between;
    width: 88%;
    margin-bottom: 0.5vh;
    margin-top: 1vh;
    padding: 1.5vh;
    padding-left: 2vw;
    border-radius: 5px;
}


textarea {
    border: 1px solid red;
    font-family: Arial, Helvetica, sans-serif;
    resize: none;
}

.projects__title{
    font-size: 1.5rem;
    margin-left: 2vw;
}


.si{
    margin-left: 30px;
}


::-webkit-scrollbar {
  width: 20px;
}

/* Track */
::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px grey;
  border-radius: 10px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: rgba(255, 0, 0, 0.9);
  border-radius: 10px;
}
